body{
	background-image: url("img/background2.jpg");
	background-size: 100%;
}

.link{
	color: darkgreen;
	font-size: 35px;
}

.content-wrapper{
    background-color: rgba(132, 0, 146, 0.3);
    padding: 16px;
    border: 2px solid white;
}

.m1{
	padding-top: 150px;
}

.app-section{
    padding: 20px;
    margin: 20px;
    margin-top: 30px;
    align-items: center;
    color: white;
}